@charset "utf-8";
/* CSS Document */
.print {
	display:none;
}

.paging{
	page-break-after :always;
}  
 
.container {
	text-align:center;
}

table { 
	font-size:13pt;
	font-family: "宋体";
	border-collapse:collapse; 
	border-spacing:0; 
	width:16.8cm;
} 

th,td {
	text-align:center;
	padding: 6px; 
}

#company_info_id th,#company_info_id td {
	text-align:center;
	padding: 1; 
}

table.members td.header {
    width: 5%;
}

table.members td.name {
    width: 12%;
}

table.members td.birth {
    width: 10%;
}

table.members td.title {
    width: 15%;
}

table.members td.major {
    width: 20%;
}

table.members td.company {
    width: 15%;
}