@charset "utf-8";
/* CSS Document */
.print_show {
	display:none
}

body {
	font-family: "宋体";
	margin: 0;
	padding: 0;
	color: #000;
}

.container {
	text-align:center;
	width: 820px;
	background-color: #FFF;
	margin: 5px auto; 
	overflow: hidden; 
}

.wideForm input {
	width:115px;
}

.bigText {
	width:730px;	
}

.form_area {
	position:fixed;
	left:120px;
	top:17px;
	width:840px;
}

legend {
	max-width:800px;	
}

table.showTable { 
	width: 20cm;
	font-size:13pt;
	border-collapse:collapse; 
	border-spacing:0; 
} 

th,td { 
	text-align:center;
	font-size:13pt;
	padding: 8px; 
}

a:hover, a:active, a:focus { 
	text-decoration: none;
	color:black;
}


#edit_button {
	float:left;
	line-height:30px
}

#print_button {
	float:right;
}

table.members td.header {
    width: 10%;
}

table.members td.name {
    width: 15%;
}

table.members td.birth {
    width: 10%;
}

table.members td.title {
    width: 10%;
}

table.members td.major {
    width: 20%;
}

table.members td.company {
    width: 15%;
}

/*table.members td.duty {
    width: 10%;
}*/
